# Snowflake
SNOWFLAKE_ACCOUNT=your_account.us-east-1
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=NHL_ANALYTICS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# SeatGeek
SEATGEEK_CLIENT_ID=your_client_id

# Firecrawl
FIRECRAWL_API_KEY=your_firecrawl_key
